body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

#main {
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

#title {
    font-size: 2em;
    margin-bottom: 20px;
}

#main h1, #main p {
    text-align: center;
}

.section-one {
    background-color: rgb(228, 217, 217);
    padding: 10px;
}

figcaption {
    margin: 10px;
    text-align: center;
}

img-div {
    margin-bottom: 20px;
}

#image {
    display: block;
    margin: 0 auto;
    /* justify-content: center; */
    max-width: 100%;
    /* height: max(250px, 25vw); */
    height: auto;
    /* text-align: center; */
}


ul > li {
    padding: 0.3em;
}

.bold {
    font-weight: bold;
}

section .italic {
    padding-top: 10px;
}

#tribute-info {
    text-align: center;
    padding: 30px;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.last {
    padding: 30px;
}